.blog-row {
  row-gap: 24px;
  margin-bottom: 50px;
}
.blog-item {
  width: 100%;
  height: 415px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.blog-item::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(9, 12, 15, 0.96863) 0,
    rgba(13, 17, 21, 0.48) 70%,
    rgba(14, 19, 23, 0) 100%
  );
  transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  z-index: 2;
  pointer-events: none;
}
.blog-item:hover:before {
  opacity: 0.75;
}
.blog-item img {
  transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
}
.blog-item:hover img {
  transform: scale(1.05);
}
.blog-desc {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 30px;
  pointer-events: none;
  z-index: 4;
}
.blog-desc h5 {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.3;
}
.blog-desc .date-comment {
  column-gap: 20px;
  row-gap: 6px;
  opacity: 0.6;
}
.blog-desc .date-comment h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}
.blog-desc .date-comment h3 svg {
  margin-top: -4px;
}
@media screen and (max-width: 767px) {
  .blog-item {
    height: 360px;
  }
  .blog-row {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 575px) {
  .blog-desc {
    padding: 20px;
  }
  .blog-desc h5 {
    font-size: 20px;
  }
  .blog-desc .date-comment h3 {
    font-size: 14px;
  }
}
